/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');


/*CSS Files*/
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
  line-height: 1.6em;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}


.container {
  width: 900px;
  margin: auto;
}

@media(max-width: 900px) {
  .container {
    width: 85%;
  }
}
